﻿@model IEnumerable<Models.UserModel>

<h2>FindAllUsers</h2>

<div>
    @foreach (var x in Model)
    {
        <div class="col-md-12">
        <h2>@Html.ActionLink($"{x.Username}", "getaccaunt", "accaunt", new { username = x.Username }, null)</h2><br/>
        <p>Name: @x.Name</p><br />
        <p>Surname: @x.Surname</p><br />
        </div>
    }
</div>
