﻿@model (Models.UserModel user,IEnumerable<Models.BlogModel> blogs)

@{
    ViewBag.Title = "Accaunt";
}


<div>
    <h2>User: </h2>
    <h3>@Model.user.Username</h3>
    <h4>@Model.user.Name</h4>
    <h4>@Model.user.Surname</h4>
</div>

<div>
    <h2>Blogs:</h2>
    @foreach (var blog in Model.blogs)
    {
        <h3>@Html.ActionLink($"{blog.Name}", "showblog", "blog", new { id = blog.Id }, null)</h3>
    }
</div>