<div *ngIf = "user">
    <h1>Username: {{user.Username}}</h1>
    <h2>Id: {{user.Id}}</h2>
    <h2>Name: {{user.Name}}</h2>
    <h2>Surname: {{user.Surname}}</h2>
    <h3>Role: {{user.Role}}</h3>
</div>
<div class="blogs" *ngIf = "Blogs">
    <h1>Blogs:</h1>
    <div *ngFor = "let blog of Blogs" class="blog">
        <h3><a routerLink = "/blog/{{blog.Id}}"> {{blog.Name}}</a></h3>
    </div>
</div>