﻿@model  (Models.ArticleModel article, IEnumerable<Models.ReplyModel> replies)

@{
    ViewBag.Title = "ShowArticle";
}

<h2>@Model.article.Title</h2>

@foreach(var reply in Model.replies)
{
    <h2>@reply.UserId</h2>
    <p>@reply.Text</p>
}