<button routerLink = "/accaunt/register" *ngIf = "isLoggedIn()">Register</button>
<button routerLink = "/accaunt/login" *ngIf = "isLoggedIn()">Login</button>
<button routerLink = "/accaunt/my-accaunt" *ngIf = "!isLoggedIn()">My Profile</button>
<button routerLink = "/search-engine">Search engine</button>
<button (click) = "logout()" *ngIf = "!isLoggedIn()">Log Out</button>
<router-outlet></router-outlet>