<div class="box">

    <div class ="editWindow" *ngIf="editMode && isAdmin()">
        <button (click) = "noEdit()">Close</button>
        <form (ngSubmit) = "onEditSubmit();noEdit()">
            <textarea wrap="soft | hard" name="editedText" [(ngModel)] = "editedText"> </textarea>
            <button type="submit">Submit</button>
        </form>
    </div>  
</div>
<div *ngIf = "article">
    <h1>{{article.Title}}</h1>
    <p>{{article.Text}}</p>
</div>

<form (ngSubmit) = "onSubmit()" *ngIf = "isLogged()">
    <input type="text" name="comment" [(ngModel)] = "form.Text"/><br/>
    <button type="submit">Submit</button>
</form>

<div *ngIf ="comments">
    <div *ngFor = "let comment of comments" class="comment">
        <h3><a routerLink = "/accaunt/{{comment.Username}}">{{comment.Username}}</a></h3>
        <p>{{comment.Text}}</p>
        <button *ngIf = "isAdmin()" (click) = "edit(comment.Id,comment.Text, comment.Username)">Edit</button>
        <button *ngIf = "isAdmin()" (click) = "delete(comment.Id)">Delete</button>
    </div>
</div>

