.comment{
    background-color: rgb(204, 203, 255);
}

.editWindow{
    position: fixed;
    top: 100px;
    left: 10%;
    right: 10%;
    height: 300px;
    width: 80%;
    background-color: red;
    z-index: 1;
    text-align: center;
}

.editWindow textarea{
    height: 100px !important;
    padding: 5px;
    margin: 0 auto;
    width: 80%;
}