<h1>What do you want to look for?</h1>
<div class="searchClass" >
    Users: <input type="radio" name="radioButton" value ="users" (change) = "radioChangeHandler($event)" checked><br>
    Blogs: <input type="radio" name="radioButton"  value = "blogs"(change) = "radioChangeHandler($event)"><br>
    Articles: <input type="radio" name="radioButton" value = "articles"(change) = "radioChangeHandler($event)">
</div>
<input type="text" name = "searchLine" (input) = "toSearch = $event.target.value">
<button (click) = "search()">Search</button>
<div *ngIf ="users">
    <div *ngFor = "let user of users">
        <h2><a routerLink = "/accaunt/{{user.Username}}"> {{user.Username}}</a></h2>
        <h3>{{user.Name}}</h3>
        <h3>{{user.Surname}}</h3><br/>
    </div>
</div>
<div *ngIf = "blogs">
    <div *ngFor = "let blog of blogs">
        <h2><a routerLink = "/blog/{{blog.Id}}">{{blog.Name}}</a></h2>
    </div>
</div>

<div *ngIf = "articles">
    <div *ngFor = "let article of articles">
        <h2><a routerLink = "/article/{{article.Id}}">{{article.Title}}</a></h2>
        <p>{{article.Text}}</p>
    </div>
</div>