﻿@model (Models.BlogModel blog, IEnumerable<Models.ArticleModel> articles)

@{
    ViewBag.Title = "ShowBlog";
}

<h1>@Model.blog.Name</h1>

@foreach(var article in Model.articles)
{
    <div class="bg-danger">
        <h2>@Html.ActionLink($"{article.Title}", "showarticle", "article", new { id = article.Id }, null)</h2>
        <p>@article.Text</p>
    </div>
}