<div class = "main">
    <div class ="block1">
        <div *ngIf = "user">
            <h1>{{user.Username}}</h1>
            <h2>{{user.Name}}</h2>
            <h2>{{user.Surname}}</h2>
            <h3>{{user.Role}}</h3>
        </div>
        <h1 *ngIf = "getRole()">Hello admin</h1>

        <form>
            <div class="newBlog">
                <h1>Create new blog:</h1>
                Name: <input type="text" name = "Name" [(ngModel)] = "newName">
                <button (click) = "createBlog()">Create</button>
            </div>
            <p *ngIf = "blogError">{{blogError}}</p>
        </form>
    </div>
    <div class="block2">
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                <button *ngFor = "let blog of blogs" (click) = "getBlogsArticles(blog.Id)">
                    {{blog.Name}}
                </button>
            </div>

          </div>
          
          <form (ngSubmit) = "onSubmit()" *ngIf = "currentBlogId">
            <h2>New Article:</h2>
            Title:<input type="text" name="title" [(ngModel)] = "form.Title"/> <br/>
            Text:<input type="text" name ="text"[(ngModel)] = "form.Text"/><br/>
            <button type="submit">Create</button>
        </form>
          <div class="articles">
            <div *ngFor = "let article of blogsArticles">
                <h2><a routerLink = "/article/{{article.Id}}">{{article.Title}}</a></h2>
                <p>{{article.Text}}</p>
            </div>
        </div>
    </div>

</div>