<div *ngIf = "blog">
    <h1>{{blog.Name}}</h1>
</div>

<div *ngIf ="articles">
    <div *ngFor = "let article of articles">
        <h2><a routerLink = "/article/{{article.Id}}">{{article.Title}}</a></h2>
        <p>{{article.Text}}</p>
    </div>
</div>