<form (ngSubmit) = "onSubmit()">
    Username: <br><input type="text" name = "username" [(ngModel)] = "formModel.username"><br>
    Password: <br><input type="text" name = "password"[(ngModel)] = "formModel.password" ><br> <br>
    <button type = "submit">Submit</button>
    <div>{{message}}</div>
</form>
<div *ngIf = "isLogInError">
    <p>Username or password is incorrect</p>
</div>