<form (ngSubmit) = "onSubmit()">
    Username: <br><input type="text" name = "username" [(ngModel)] = "user.Username" required><br>
    Name: <br><input type="text" name = "name"[(ngModel)] = "user.Name" required><br>
    Surname: <br><input type="text" name = "surname"[(ngModel)] = "user.Surname" required><br>
    Password: <br><input type="text" name = "password"[(ngModel)] = "user.Password" required><br> <br>
    <div class = "failed" *ngIf = "consoleMessage">
        {{consoleMessage}}
    </div>
    <button type = "submit">Submit</button>
</form>